package-manager-strict=false

# Prisma generate edilen client '.prisma/client' altına yazılır.
# pnpm strict isolation bunu sadece store içinde tutar.
# VS Code TypeScript server symlink zincirini tam takip edemez,
# bu yüzden .prisma paketini root node_modules'a hoist ediyoruz.
public-hoist-pattern[]=.prisma*
